{% extends 'base.html.twig' %}

{% block title %}Bots{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 200px;">
    <a href="{{ path('gold') }}" class="btn btn-outline-warning">GOLD</a>
</div>
{% endblock %}